/*********
*
*  1.0 Basic style
*  2.0 Helpers
*  3.0 Product style
*
********/

/*1.0 Basic style*/

:root {
   font-size: 18px;
}

.conten {
   padding: 1.1rem 0 1.6rem;
}

input {
   vertical-align: middle;
}

@media (min-width:768px) {
   .conten {
      padding: 2.2rem 0 3.3rem;
   }
}

/*---*---*----*/

/*2.0 Helpers*/

.image-box {
   position: relative;

   display: inline-block;
   overflow: hidden;

   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   width: 100%;
   min-width: 1.6rem;
   max-width: 100%;
   height: auto;
   min-height: 1.6rem;

   vertical-align: top;

   font-size: 0;
}

.image-box--square {
   position: relative;

   padding: 50%;
}

.image-box img {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;

   display: block;

   width: 100%;
   max-width: 100%;
   height: 100%;
   max-height: 100%;
   margin: 0;
   padding: 0;

   -o-object-fit: cover;
      object-fit: cover;
}


/*---*---*----*/

/*3.0 Product style*/

.product__inner {
   margin-bottom: 1.6rem;
   padding: 0.7rem;

   background-color: #fff;
   -webkit-box-shadow: 0 3px 6px #666;
           box-shadow: 0 3px 6px #666;
}

.product__title {
   padding: 0.5rem 0;

   font-size: 1.2rem;
}

.product__action {
   margin-top: 0.6rem;

   text-align: center;
}

.product__info {
   font-weight: 500;
}

.product__remove {
   padding: 15px;

   background: url(./lib/img/delete.png)center / contain no-repeat;
}

/*---*---*----*/
