.image-box {
   position: relative;

   display: inline-block;
   overflow: hidden;

   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   width: 100%;
   min-width: 30px;
   max-width: 100%;
   height: auto;
   min-height: 30px;

   vertical-align: top;

   font-size: 0;
}

.image-box--square {
   position: relative;

   padding: 50%;
}

.image-box img {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;

   display: block;

   width: 100%;
   max-width: 100%;
   height: 100%;
   max-height: 100%;
   margin: 0;
   padding: 0;

   -o-object-fit: cover;
      object-fit: cover;
}
